body{
    background-color: #fbf4e7
}
.nav {
    position: fixed;
    width: 100%;
    height: 1.333rem;
    top: 0;
    z-index: 9;
    background: url("../images/tops.png") no-repeat;
    background-size: 100% 100%;
}

.nav .gotonav {
    width: 0.8rem;
    height: 0.8rem;
    float: right;
    margin-top: 0.2rem;
    margin-right: 0.493rem
}

.nav .active {
    display: block;
}

.play {
    width: 1rem;
    height: 1rem;
    position: absolute;
    top: 2.6rem;
    left: 2.2rem;
}

.nav ul {
    display: none;
    position: absolute;
    padding-top: 0.667rem;
    width: 100%;
    height: 16.96rem;
    top: 1.333rem;
    z-index: 9;
    background: url("../images/dise.png") no-repeat;
    background-size: 100% 100%;
}

.nav ul li {
    padding: 0.267rem 0;
    text-align: center;
     font-size: .46rem;
   color: rgb(51, 51, 51);
}

.nav ul li img {}

.lineimg {
    display: block;
    height: 0rem;
    width: 4rem;
    margin: 0 auto;
    margin-top: 10px;
    transition: all .5s;
    -webkit-transition: all .5s;
}
.nav ul li a{
  text-decoration: none; color: rgb(51, 51, 51);
}


.mainpic {
    width: 100%;
    position: relative;
    overflow: hidden;
    height: 12.627rem;
    background: url("../images/mainpc.png") no-repeat;
    background-size: 100% 100%;
}

.showpic2 {
    position: fixed;
    z-index: 10;
    width: 5.533rem;
    height: 1.627rem;
    top: 0.133rem;
    left: 0.187rem
}

.ios {
    position: absolute;
    width: 2.813rem;
    height: 0.88rem;
    bottom: 0.2rem;
    left: 0.56rem;
    cursor: pointer;
}

.ggp {
    position: absolute;
    width: 2.813rem;
    height: 0.88rem;
    bottom: 0.2rem;
    left: 3.6rem;
    cursor: pointer;
}

.andriod {
    position: absolute;
    width: 2.813rem;
    height: 0.88rem;
    bottom: 0.2rem;
    left: 6.587rem;
    cursor: pointer;
}

.secoundbody {
    position: relative;
    width: 10.0rem;
    height: 17rem;
}

.newtitle {
    position: absolute;
    width: 10.0rem;
    height: 1.227rem;
    top: 0.8rem;
}

.swiper-container1 {
    position: absolute;
    top: 2.6rem;
    height: 5.76rem;
    width: 10.0rem;
}

.newwrap {
    width: 8.907rem;
    height: 6.8rem;
    position: absolute;
    right: 0.547rem;
    top: 9.2rem;
}

.newwrap #newnav .active:after {
    content: '';
    height: 0.05rem;
    background-color: rgb(178, 0, 0);
    display: block;
    margin-top: .04rem;
}

.newwrap #newnav .active {
    color: rgb(178, 0, 0)
}

.newese,
.notice,
.psp,
.actives {
    cursor: pointer;
    float: left;
    font-size: 0.42rem;
    width: 25%;
    text-align: center;
}

.goingback {
    width: 9.813rem;
    height: 2.293rem;
    position: absolute;
    left: 50%;
    margin-left: -4.9065rem;
    top: 8.5rem
}

.goingback img {
    position: absolute;
    right: .8rem;
    bottom: 0;
    width: 3rem;
}

.newwrap #newnav {
    width: 100%;
    height: 0.653rem;
    border-bottom: .04rem solid rgba(94, 94, 94, .5)
}

.newwrap #sh {
    width: 100%;
    height: 6.16rem;
    position: absolute;
    left: 0;
    top: 0.653rem;
}

.newwrap #sh div {
    display: none;
    text-align: center;
}

.newwrap #sh .active {
    display: block;
}

.targetdom ul {
    margin-top: 0.133rem;
}

.targetdom ul li {
    height: 1.067rem;
    font-size: 0.35rem;
    text-align: left;
    padding: 0 0.133rem;
    border-bottom: 0.03rem dashed rgb(113, 113, 113);
}

.targetdom ul li span {
    font-size: 0.35rem;
    width: 75%;
    color: #333;
    display: inline-block;
    line-height: 1.067rem;
}

.targetdom ul li span:last-child {
    float: right;
    width: 25%;
    font-size: .28rem;
    color: rgb(119, 119, 119);
    text-align: right;
    line-height: 1.067rem;
}

.targetdom .gotomore {
    margin-top: 0.44rem;
    width: 8.853rem;
    height: 0.747rem;
    background: url("../images/seemore.png") no-repeat;
    background-size: 100% 100%;
    display: block;
}

.swiper-container1 .swiper-pagination-bullets {
    bottom: 0;
    height: 0.48rem;
    background-color: rgba(0, 0, 0, .2);
    font-size: 0.187rem;
    line-height: .48rem;
}

.swiper-container1 .swiper-pagination-bullet {
    opacity: 1;
    background: #fff;
}

.swiper-container1 .swiper-pagination-bullet-active {
    opacity: 1;
    background: #fff;
    width: 0.667rem;
    border-radius: 0.133rem;
}

.threebody {
    position: relative;
    width: 10.0rem;
    height: 9.52rem;
     height: 13.747rem;
    background:url(../images/bg3.png);
    background-size: 100% 100%
}

.centerbox {
    width: 10rem;
    position: absolute;
    top: 4.7rem;
    font-size: .2rem
}

.centerbox .active {
    display: block;
}

.teach,
.system,
.playing,
.transcript {
    width: 2.307rem;
    height: 5.947rem;
    float: left;
    overflow: hidden;
}

.teach {
    background: url("../images/teach.png") no-repeat;
    background-size: 100% 100%;
    margin-right: .2rem;
    margin-left: .15rem
}

.system {
    background: url("../images/system.png") no-repeat;
    background-size: 100% 100%;
    margin-right: .15rem
}
.playing {
    background: url("../images/playing.png") no-repeat;
    background-size: 100% 100%;
    margin-right: .15rem
}

.transcript {
    background: url("../images/dc.png") no-repeat;
    background-size: 100% 100%
}

.titleimg {
    position: absolute;
    width: 8.72rem;
    height: 1.47rem;
    top: .79rem;
    left: 50%;
    margin-left: -4.36rem
}

.detail {
    display: none;
    width: 2.2rem;
    height: 4.43rem;
    background-color: rgba(76, 23, 25, .9);
    margin-top: .57rem;
    margin-left: .06rem;
    font-family: monospace;
    font-weight: bold;
    padding-top: .1rem;
    border-radius: 8px
}

.pt15 {
    padding-top: 1.5rem
}

.detail li {
    font-size: .4rem;
    color: rgb(255, 214, 138);
    text-align: center;
    padding: .25rem 0;
    cursor: pointer;
}

.detail a {
    text-decoration: none;
}

.fourbody {
    position: relative;
    width: 10.0rem;
    height: 12.813rem;
}

.charactPic,.charactPicnv {
    position: absolute;
    top: 3.3rem;
    width: 9.333rem;
}

.charactPic img,.charactPicnv img{
    display: none;
    width: 100%;
    height: 100%
}

.charactPic .active,.charactPicnv .active {
    display: block;
}

.charactShark {
        position: absolute;
    top: 11.5rem;
    width: 7rem;
    /* margin: 0 auto; */
    left: 50%;
    margin-left: -3.5rem;
}
.totalCh{
    width: 3.933rem;
    height: 1.147rem;
    position: absolute;
    top: 2rem;
    left: 50%;
    margin-left: -2rem;

}
.totalMan {
        position: absolute;
    z-index: 9;
    width: 1.3rem;
    height: 1.2rem;
    left: 0;
    top: 0;
    cursor: pointer;
}

.totalWomen {
        position: absolute;
    z-index: 9;
    width: 1.3rem;
    height: 1.2rem;
    left: 2.6rem;
    top: 0;
    cursor: pointer;
}
.charactShark .role,.charactShark .rolenv {
    float: left;
    margin-left: 0.4rem;
    width: 1.133rem;
    height: 1.133rem;

}
.fourbody .active{
    display: block;
}
.charactShark .role .hovers,.charactShark .rolenv .hovers {
    display: none
}
.manCharacter,.womenCharacter{
    display: none;
}
.fivebody {
    position: relative;
    width: 10.0rem;
    height: 13.16rem;
    background:url(../images/bg6.png);
    background-size: 100% 100%
}

.fivebody .mover {
    position: absolute;
    width: 100%;
    top: 4rem;
}

.fivebody .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 4rem;
    height: 7rem;
}

.swiper-pagination4.swiper-pagination-clickable.swiper-pagination-bullets {
    text-align: center;
    margin-top: .6rem
}

.fivebody .swiper-pagination-bullet {
    width: .3rem;
    height: .3rem;
    border: 1px solid #eb0012;
    background-color: white
}

.fivebody .swiper-pagination-bullet-active {
    width: 1rem;
    border-radius: 1rem;
    background-color: #eb0012
}

.descript {
    width: 8rem;
    margin: .2rem auto;

    font-size: .2rem;
    color: white;
    text-align: left;
    text-indent: 2em
}

.videodom {
    position: absolute;
    top: 2.80rem;
    width: 10rem;
    height: 5.65rem;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
}

.videitem {
    width: 4.5rem;
}

.videitem .videos {
    width: 100%;
    height: 2.76rem;
    ;
    text-align: center;
}

.videitem .videos img {
    width: 0.867rem;
    margin-top: 1.027rem;
    transition: all .5s;
    -webkit-transition: all .5s;
}

.videitem .videos:hover img {
    cursor: pointer;
    transform: scale(1.1);
    -ms-transform: scale(1.1);
    /* IE 9 */
    -moz-transform: scale(1.1);
    /* Firefox */
    -webkit-transform: scale(1.1);
    /* Safari 和 Chrome */
    -o-transform: scale(1.1);
}

.videitem {
    font-size: .35rem;
    color: rgb(112, 112, 112)
}

.videitem p {
    margin-top: 5px
}

.seemorevideo {
    display: block;
    position: absolute;
    top: 2.2rem;
    right: .5rem;
    color: rgb(112, 112, 112);
    text-decoration: none;
}

.scrool {
    cursor: pointer;
    -webkit-animation: mymove ease-in-out 1.5s infinite;
    animation: mymove ease-in-out 1.5s infinite;
}
@keyframes mymove
{
0%{right: 2.6rem}
50%{right: 2.4rem}
100%{right: 2.6rem}
}

@-webkit-keyframes mymove 
{
0%{right: 2.6rem}
50%{right: 2.4rem}
100%{right: 2.6rem}
}

.scroolLeft {
    cursor: pointer;
    -webkit-animation: mymoveL ease-in-out 1.5s infinite;
    animation: mymoveL ease-in-out 1.5s infinite;
}
@keyframes mymoveL
{
0%{left: 2.3rem}
50%{left: 2.1rem}
100%{left: 2.3rem}
}

@-webkit-keyframes mymoveL 
{
0%{left: 2.3rem}
50%{left: 2.1rem}
100%{left: 2.3rem}
}

.overlay {
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 115;
    text-align: center;
}

.overlay>section {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 9rem;
    height: 5rem;
    margin-left: -4.5rem;
    margin-top: -2.8rem;
    border-radius: 0;
    z-index: 116;
    color: #333;
    box-shadow: 0 0 0.8em #fff;
}

.close {
    position: absolute;
    z-index: 9999999;
    right: -12px;
    top: -17px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    line-height: 0.56rem;
    font-size: 0.4rem;
    text-align: center;
    cursor: pointer;
    opacity: .8;
    color: #fff;
    z-index: 116;
}

.close:hover {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.footer {
    font-size: .4rem;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.footer ul {
    position: absolute;
    left: 2.8rem;
    top: 1.1rem;
}

.footer ul li {
    float: left;
    width: 1.1rem;
    height: 0.5rem;
    cursor: pointer;
}

.swiper-container5{
        position: relative;
    width: 9rem;
    top: 2.5rem;
    height: 5.5rem;
    left: 50%;
    margin-left: -4.5rem;
}
.mainMap{
    width: 9rem;
}
.nameMap{
        width: 2.77rem;
    margin-left: 3rem;
    margin-top: .2rem;
}
.swiper-container5 .swiper-button-next{
    top: auto;
    bottom: .5rem;
    width: .36rem;
    height: .59rem;
    background:url("../images/right.png");
    background-size: 100% 100%
}
.swiper-container5 .swiper-button-prev{
    top: auto;
    bottom: .5rem;
    width: .36rem;
    height: .59rem;
    background:url("../images/left.png");
    background-size: 100% 100%
}

.sixbody {
    position: relative;
    width: 10.0rem;
    height: 13.4rem;
    background:url("../images/jewel/bg.png");
    background-size: 100% 100%;
    overflow: hidden;
}
.jewelBody{
    position: absolute;
    width: 10rem;
    top: 1.6rem;
}
.jbg{
    max-width: inherit;
    width: 16rem;
    position: absolute;
    left: 50%;
    margin-left: -7.9rem
}
.gold{
    width: 1.547rem;
    height: 1.88rem;
    background: url(../images/jewel/gold.png) no-repeat;
    background-size: 100% 100%;
    position: absolute;
    cursor: pointer;
    left: 50%;
    top: 8.6rem;
    margin-left: -3.35rem;
}
.goldred{
    background: url(../images/jewel/goldIn.png) no-repeat;
    background-size: 100% 100%;
}
.wood{
    width:1.547rem;
    height: 1.96rem;
    background: url(../images/jewel/wood.png) no-repeat;
    background-size: 100% 100%;
    position: absolute;
    cursor: pointer;
    left: 50%;
    top: 1.5rem;
    margin-left: -.75rem;
}
.woodred{
    background: url(../images/jewel/woodIn.png) no-repeat;
    background-size: 100% 100%;
}
.water{
   width:2.013rem;
    height: 1.533rem;
    background: url(../images/jewel/water.png) no-repeat;
    background-size: 100% 100%;
    position: absolute;
    cursor: pointer;
    left: 50%;
    top: 4.9rem;
    margin-left: -4.8rem;
}
.waterred{
    background: url(../images/jewel/waterIn.png) no-repeat;
    background-size: 100% 100%;
}
.fire{
   width:2.027rem;
    height: 1.533rem;
    background: url(../images/jewel/fire.png) no-repeat;
    background-size: 100% 100%;
    position: absolute;
    cursor: pointer;
    left: 50%;
    top: 5rem;
    margin-left: 2.8rem;
}
.firered{
    background: url(../images/jewel/fireIn.png) no-repeat;
    background-size: 100% 100%;
}
.soil{
    width:1.747rem;
    height: 1.747rem;
    background: url(../images/jewel/soil.png) no-repeat;
    background-size: 100% 100%;
    position: absolute;
    cursor: pointer;
    left: 50%;
    top: 8.64rem;
    margin-left: 1.75rem;
}
.soilred{
    background: url(../images/jewel/soilIn.png) no-repeat;
    background-size: 100% 100%;
}
.phoenix{
    width:1.787rem;
    height: 1.613rem;
    background: url(../images/jewel/phoenix.png) no-repeat;
    background-size: 100% 100%;
    position: absolute;
    cursor: pointer;
    left: 50%;
    top: 4.65rem;
    margin-left: 0.1rem;
}
.phoenixred{
    background: url(../images/jewel/phoenixIn.png) no-repeat;
    background-size: 100% 100%;
}
.dragon{
    width:1.88rem;
    height: 1.533rem;
    background: url(../images/jewel/dragon.png) no-repeat;
    background-size: 100% 100%;
    position: absolute;
    cursor: pointer;
    left: 50%;
    top: 6.26rem;
    margin-left: -2.1rem;
}
.dragonred{
    background: url(../images/jewel/dragonIn.png) no-repeat;
    background-size: 100% 100%;
}
.jewleContent{
    width:9.4rem;
    position: absolute;
    top: .3rem;
    left: 50%;
    margin-left: -4.7rem;
}
.lines{
    position: absolute;
    bottom: .8rem;
    width: 8.71rem;
    margin-left: -4.35rem;
    left: 50%;
}
.chooseJ{
    position: absolute;
    bottom: .4rem;
    width: 8.86rem;
    left: .4rem;
}
.boxJ{
    width: 0.9rem;
    height: 0.8rem;
    float: left;
    margin-right: .42rem;
    cursor: pointer;
}
.phoenixJ{
    margin-right: 0
}
.showalert {
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 115;
    text-align: center;
}

.showalert>section {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 9.6rem;
    height:7.813rem;
    margin-left: -4.8rem;
    margin-top: -3.9rem;
    border-radius: 0;
    z-index: 116;
    background: url("../images/jewel/mbg.png") no-repeat;
    background-size: 100% 100%
}
.aclose{
    position: absolute;
    top: 50%;
    margin-top: 4rem;
    width: 1.08rem;
    left: 50%;
    margin-left: -0.504rem
}