body{
  background-color: #fcfcfd
}
.gotonav{
  width: 0.867rem;
  height: 0.867rem;
  top: 0.187rem;
    right: 0.213rem;
    position: absolute;
    z-index: 999;
}
.secoundbody{
  position: relative;
  width: 10.0rem;
  background-color: #fbf6eb
}
.newtitle{
 position: absolute;
  width: 10rem;
  height: 1.187rem;
  top: 1.5rem;
}
.dom_item{
  position: absolute;
  width: 100%;
  top: 3.5rem;
  text-align: center;
  border-bottom: 1px dashed #9b9b9b;
}
.dom_item1{
  position: absolute;
  width: 100%;
  top: 6rem;
  text-align: center;
  border-bottom: 1px dashed #9b9b9b;
}
.dom_item2{
  position: absolute;
  width: 100%;
  top: 8.5rem;
  text-align: center;
  border-bottom: 1px dashed #9b9b9b;
}
.dom_item3{
  position: absolute;
  width: 100%;
  top: 11rem;
  text-align: center;
  border-bottom: 1px dashed #9b9b9b;
}
.show_item img{
  width:3.213rem;
}
.show_item p{
  font-size: .25rem
}
.show_item p a{
  cursor: pointer;
  font-size: .42rem;
      text-decoration: none;
    color: #404040;
    padding:0 0.3rem;
}
.show_item p a:hover{
  color: rgba(219,0,0,.5);
}

footer{
  position: fixed;
  bottom: 0
}
#contentnew{
  width: 72%;
    margin: 0 auto;
    /* float: left; */
    height: 100%;
}